$buttonColor: rgb(29, 161, 242);

.composeBox{
    display: flex;
    width: 566px;
    padding: 0px 16px;
    border: 1px lightblue solid;
    div{
        display: inline;
    }
    &_img{
        padding-top: 4px;
        margin-right: 12px;
        
        
        img{
            object-fit: cover;
            width: 54px;
            height: 54px;
            // width: 100%;
            border-radius: 50%;
        }
    }
    &_form{
        display: flex;
        flex-direction: column ;
        width: 100%;
        &_input{
            // width: 1000px;
            height: inline;
            width: auto;
            max-width: 506px;
            max-height: 96px;
            padding: 12px 0px;
            font-size: large;
            outline: none;
        }
        &_input[placeholder]:empty:before {
            content: attr(placeholder);
            color: #555; 
        }
        &_bottom{
            height: 52px;
            &_button{
                width: 78px;
                background-color: $buttonColor;
                height: 38px;
                color: aliceblue;
                float: right;
                text-align: center;
                vertical-align: middle;
                line-height: 38px; 
                border-radius: 30px;
            }

        }

    }
}
// .composeBox_input{
//     // width: 1000px;
//     height: 500px;
// }

